@import "../vars";

.shop {
  background-image: url('../img/shop-bg.png');
  background-repeat: no-repeat;
  background-position: right center;

  .slider-arows {
    opacity: 0.25;
  }
}

.shop__slider {
  padding-left: 132px;
}

.shop__slider-inner {
  display: flex;
}

.shop__slider-info {
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
  padding-top: 156px;
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 47px;
}

.shop__slider-price {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 64px;

  sup {
    font-size: 18px;
  }
}

.shop__star-list {
  display: flex;

  li {
    margin-left: -20px;

    &:first-child {
      margin-left: -10px;
    }
  }

}

.shop__slider-content {
  padding-left: 70px;
  display: flex;
  align-items: flex-end;
}

.shop__extras {
  padding-left: 150px;
}

.shop__extras-inner {
  display: flex;
}

.shop__extrax-titile {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}

.shop__extras-img {
  min-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.shop__extras-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  margin-bottom: 16px;
}

.shop__extras-price {
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
}


.surfboard {
  position: relative;
}

.surfboard-box {
  position: absolute;
}

.surfboard__position--1 {
  top: 215px;
  right: 40px;
}

.surfboard__position--2 {
  top: 313px;
  left: -6px;
}

.surfboard__position--3 {
  bottom: 70px;
  left: 52px;

  .surfboard-box__content {
    padding-left: 0;
    padding-right: 104px;
    top: -15px;
    left: -400px;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background: #fff;
      right: 0;
      left: auto;
      top: 50%;
    }
  }
}

.surfboard-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;

  &.active {
    .circle__row {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}

.circle__row {
  background-color: $green;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);

  &+.circle__row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.surfboard-box__circle.active+.surfboard-box__content {
  display: block;
}

.surfboard-box__content {
  display: none;
  position: absolute;
  width: 359px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  padding-left: 104px;
  top: -15px;
  left: 40px;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: #fff;
    left: 0;
    top: 50%;
  }
}

@media (max-width: 1366px) {
  .shop__slider-content {
    padding-left: 40px;
  }

  .shop__slider-price {
    margin-bottom: 30px;
  }
}

@media (max-width: 1366px) {
  .shop__slider-inner {
    display: block;
  }

  .shop__slider-info {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .shop__slider {
    padding-left: 20px;
  }

  .surfboard__position--3 .surfboard-box__content {
    left: 60px;
  }

  .surfboard__position--3 .surfboard-box__content::before {
    width: 20px;
    right: auto;
    left: -32px;
  }
}

@media (max-width: 767px) {
  .surfboard-box__content {
    padding-left: 0;
    top: 35px;
    left: 0;
    width: 270px;

    &::before {
      display: none;
    }
  }

  .surfboard__position--1 {
    .surfboard-box__content {
      left: -177px;
    }
  }

  .shop__extras {
    padding-left: 75px;
  }
}

@media (max-width: 680px) {
  .shop__slider-content {
    display: block;
  }

  .shop__extras {
    padding-left: 0;
    padding-top: 35px;
  }

  .surfboard__position--1 {
    left: 155px;
  }
}

@media (max-width: 460px) {
  .shop__slider-content {
    padding-left: 0;
  }

  .surfboard__position--2 {
    left: 3px;
  }

  .surfboard__position--1 .surfboard-box__content {
    left: -146px;
  }

  .shop__extras-box {
    margin-right: 30px;
  }
}